.wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-section {
    min-height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.up-button, .down-button {
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2em;
}

.navbar {
    position: absolute;
    bottom: 50vh;
    right: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
    margin: 3px;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

.title {
  text-align: center;
  color: white;
  margin: 30px;
  font-size: 60px;
}